<html>
<head>
    <title>lsp-tester: main</title>
    <style>
        .centered {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="centered">
        <h2>Connections</h2>
        <ul>
            {{range $name, $rcvr := $.receivers}}<li>{{$name}}</li>{{end}}
        </ul>
        <h2>LSP Tester</h2>
        {{if $.messages}}
        <form action="/send">
            <input type="submit" value="Send Message">
        </form>
        {{end}}
        <form action="/exit">
            <input type="submit" value="Exit LSP Tester">
        </form>
    </div>
</body>
</html>
