{{define "content"}}
<h2>Connections</h2>
<ul>
    {{range $name, $rcvr := $.receivers}}<li>{{$name}}</li>{{end}}
</ul>
<h2>Messaging</h2>
{{if $.messages}}
<form action="/" method="post" class="bordered">
    <input type="hidden" name="form" value="send" />
    <table>
        <tr>
            <td><label for="target">Target for message</label></td>
            <td>
                <select name="target" id="target">
                    {{range $name, $rcvr := $.receivers}}<option value="{{$name}}">{{$name}}</option>{{end}}
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="message">Message to send</label></td>
            <td>
                <select name="message" id="message">
                    {{range $msg := $.messages}}<option value="{{$msg}}">{{$msg}}</option>{{end}}
                </select>
            </td>
        </tr>
        <tr><td><input type="submit" value="Send Message"></td></tr>
    </table>
</form>
{{end}}
<h2>Result</h2>
<div class="text">
    {{$.result}}
</div>
<h2>Errors</h2>
<div class="text error">
    {{$.error}}
</div>
{{end}}